pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
# Compiler output
target/
out/

# REPL and nREPL files
*.nrepl/

# Clojure tool configuration files
deps.edn
.edn

# IDE specific files
.idea/
*.iml

# Calva specific files
.vscode/
.clj-kondo/
