
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    background-color: #636e49;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    float: left;
  }
  
  h1 {
    color: #636e49;
  }
  
  p {
    color: #555;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    nav li a:hover {
    background-color: #111;
  }

.container {
    display: flex; 
    height: 100vh;
}

.sidebar {
    width: 15%; 
    background-color: #d5ddbc; 
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.content {
    flex: 1; 
    padding: 15px;
    background-color: #fff; 
}

h1 {
    color: #636e49;
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none; 
    color: black; 
}

a:hover {
    text-decoration: underline;
}
