
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    background-color: #636e49;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    float: left;
  }
  
  h1 {
    color: #636e49;
  }
  
  p {
    color: #555;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    nav li a:hover {
    background-color: #111;
  }

.container {
    display: flex; 
    height: 100vh;
}

.sidebar {
    width: 15%; 
    background-color: #f4f4f4; 
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.content {
    flex: 1; 
    padding: 15px;
    background-color: #fff; 
}

h1 {
    color: #636e49;
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none; 
    color: black; 
}

a:hover {
    text-decoration: underline;
}

/*input[type="file"]{
    display: inline-block;
    background-color: #e7e7e7;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}   */
   
button {
    background-color: #636e49; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #636e49; 
}
table{
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}
th, td {
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

tr.highlight {
  background-color: red !important;
}

tr.selected {
  background-color: yellow !important;
}

input[type="file"] {
  display: none; 
}

.custom-file-upload {
  display: inline-block;
  background-color: #e7e7e7;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  text-align: center;
}

.custom-file-upload:hover {
  background-color: #d6d6d6;
}
.registration-form, .login-form, .center-form {
  max-width: 500px;
  margin: 0 auto;
}
.registration-form, .login-form {
  background-color: #f8f9fa;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form h1, .login-form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #636e49;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #636e49;
}

.error-item {
  color: red;
  font-size: 12px;
}

select {
  width: 200px;
  padding: 8px;
  margin: 10px 0;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

input[type="date"] {
  width: 200px;
  padding: 8px;
  margin: 10px 0;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}
.trace{
  display: flex;
  gap: 50px;
}
input{
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s
}
.sendLogs{
  display: none;
}